{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>

<ul style="list-style-type: none;">
    {% for listing in all_listings %}
    {% if listing.active %}
    <li style="margin-bottom: 10px;">
        <img src="{{ listing.url_photo }}" alt="picture of {{ listing.title }}" style="width: 100px; height: auto;" />
        <a href="#" style="text-decoration: none; color: black;">
            {{ listing.title }}: {{ listing.description }}.
        </a>
        <strong>Current price: ${{ listing.current_bid }}</strong>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}