{% extends "auctions/layout.html" %}

{% block body %}

<div class="container" style="margin-left: 5rem;">
    <div class="container">
        <h2>Watchlist of {{ user }}</h2>
    </div>
    <br>
    <div class="container">
        <ul style="list-style-type: none;">
            {% for listing in users_watchlist %}
            <li>
                <div class="card" style="width: 25rem;">
                    {% if listing.url_photo %}
                    <img src="{{ listing.url_photo }}" class="card-img-top" alt="picture of {{ listing.title }}" style="width: 10rem; height: auto;">
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title"><strong>{{ listing.title }}</strong></h5>
                      <p class="card-text">{{ listing.description }}</p>
                      <h5><strong>Current price: ${{ listing.current_bid }}</strong></h5>
                      <a href="{% url 'listing_page' listing.id  %}" class="btn btn-primary">More details</a>
                    </div>
                </div>
                <br>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}